---
---

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$font-family: 'Open Sans', 'Source Sans Pro', sans-serif;

$brand: #3de38d;
$extra-light-gray: #eee;
$light-gray: #ccc;
$medium-gray: #888;
$dark-gray: #333;

$medium: 900px;
$tablet: 768px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"mixins",
  "base",
  "components",
  "syntax-highlighting",
  "toc"
;
