---
layout: default
---

<div class="home">

  {% include total-posts.html %}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-tags">
          {% if post.categories %}
            {% for tag in post.categories %}
              {{tag}} 
            {% endfor %}
          {% endif %}
        </span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-excerpt">
          {% if post.content contains '<!--excerpt.start-->' and post.content contains '<!--excerpt.end-->' %}
            {{ ((post.content | split:'<!--excerpt.start-->' | last) | split: '<!--excerpt.end-->' | first) | strip_html | truncatewords: 80 }}
          {% else %}
            {{ post.content | strip_html | truncatewords: 80 }}
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
