<footer>
  <div>
    <p>
      © 2015 Joshua Beam
    </p>

    <ul class="list-unstyled list-inline">
      <li><a href="http://www.joshbe.am">www.joshbe.am</a></li>
      <li><a href="http://github.com/joshbeam">GitHub</a></li>
      <li><a href="http://careers.stackoverflow.com/joshbeam">Resume</a></li>
      <li><a href="http://twitter.com/joshbeam92">@joshbeam92</a></li>
      <li><a href="mailto:josh@frontendcollisionblog.com">josh@frontendcollisionblog.com</a></li>
    </ul>
  </div>
  
  <form class="search">
    <input type="text" class="search-box" id="search" /><input type="submit" class="search-button" value="Search" />
  </form>

</footer>
