<script src="{{ "/js/dist/scripts.js" | prepend: site.baseurl }}"></script>
<script>
  var parser = document.createElement('a')

  parser.href = document.location;

  if(parser.pathname === '/about/') {
    function populateGitHub(res) {
      var repos = res.data,
          popular = [];

      repos.forEach(function(info) {
        if(info.stargazers_count > 1) {
          popular.push(info);
        }
      });

      $('.github-title').prepend([
        'Showing '+popular.length+' of '+repos.length+' public repos '
      ].join(''));

      popular.forEach(function(repo) {
        $('.github').append([
            //'<dl>',
              '<dt>',
                '<a href="'+repo.html_url+'">'+repo.name+'</a>',
                ' <span>('+repo.language+', '+repo.stargazers_count+' starrers)</span>',
              '</dt>',
              '<dd>'+repo.description+'</dd>',
            //'</dl>'
          ].join(''));
      });
    }

    var script = document.createElement('script');
    script.src = 'https://api.github.com/users/joshbeam/repos?callback=populateGitHub';

    document.getElementsByTagName('head')[0].appendChild(script);
  }
</script>
<script>
  $(function() {
    $('pre').each(function() {
      $this = $(this);

      $this.html($this.html().trim());
    });
  });
</script>

<script>
  $(function() {
      $('.posts li').each(function() {
        $this = $(this);

        $this.css('cursor','pointer');

        $this.on('click', function() {
          document.location = $(this).find('a')[0].href;
        });
      });
  });
</script>

{% if page.results %}
<script src="{{"/js/dist/search/results.min.js" | prepend:site.baseurl }}"></script>
{% endif %}

{% if page.comments %}
<script type="text/javascript">
    //var disqus_developer = 1;
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'frontendcollision';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}