/**
 * Site header
 */
.site-header {
    min-height: 56px;
    @include horizontal-gradient(#a9deee, #a9eeaa, 33%);
    // Positioning context for the mobile navigation icon
    position: relative;
    padding: 2rem;
    @include box-shadow(0, 0, 20px, $brand-color-opposite);
}

.site-title {
    float: left;

    a {
        font-size: 2rem;
        color: $grey-color-dark;
        letter-spacing: -1px;
        margin: 0;
        padding: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    small {
        display: block;
        color: lighten($grey-color-dark,20%);
        margin: -5px 0 0 0;
        padding: 0;
    }

    div {
        float: right;
    }

    .profile-picture {
        float: left;
        @include border-radius(100%);
        width: 70px;
        margin: 0 .5rem 0 0;
        height: 100%;
        @include box-shadow(0, 0, 20px, #a9deee);

        @include media-query($on-palm) {
            display: none;
        }
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: lighten($text-color,25%);
        line-height: $base-line-height;
        background: rgba(255,255,255,.5);
        padding: .75rem;
        @include border-radius(10px);

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            text-decoration: none;
            background: rgba(255,255,255,.8);
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $background-color;
        //border: 1px solid $grey-color-light;
        @include box-shadow(0,0,20px,$grey-color-dark);
        @include border-radius(5px);
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            margin: 0 !important;
            padding: .25rem .5rem .25rem 1.5rem;
            @include border-radius(0);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: $grey-color-extralight;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: $background-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        //border-bottom: 1px solid $grey-color-light;
        border-bottom: 2px solid $brand-color-opposite;
        @extend %clearfix;
        @include box-shadow(0,0,20px,darken($grey-color-light,10%));
        padding: 1rem;

        .post-excerpt {
            color: lighten($grey-color-dark,20%);
        }

        .post-tags {
            color: lighten($grey-color-dark,20%);
            font-style: italic;
            float: right;
            font-size: $base-font-size/1.5;
            @extend %clearfix;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: bold;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.view-all-link {
    border: 1px solid $grey-color-light;
    padding: 1rem;
    margin: 1rem 0;
    display: inline-block;

    &:hover {
        background: $grey-color-light;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 38px;
        border-bottom: 1px solid $grey-color-light;
        margin-top: 1.5em;
        position: relative;

        &:first-of-type {
            margin-top: 0.5em;
        }

        @include media-query($on-laptop) {
            font-size: 32px;
        }        
    }

    h2 {
        font-size: 34px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .jump-to-toc-link {
        display: block;
        font-size: 0.75em;
        text-align: right;
        margin: -10px 0 0 0;
        padding: 0 0 10px 0;
    }

}

.twitter-plug {
    @include box-shadow(0,0,30px,$grey-color-light);
    background: lighten($brand-color-complement,10%);
    padding: 1rem;
    margin: 2rem 0;
}

.ask-for-comments {
    margin: 2rem 0;
}

/*
    Archive
*/
.archive-list {
    > li {
        padding: 0.5em;
        margin: 0 0 1em 0;
        @include box-shadow(0,0,10px,darken($grey-color-light,10%));        
    }

    .archive-list-meta {
        margin-right: 1em;
        color: $grey-color-dark;
    }
}

/*
    Search
*/
.search > input {
    font-size: 16px;
    color: $grey-color-dark;
}

.search-box {
    border: 1px solid $grey-color-light;
    background: #fff;
    padding: 1em;
    @include box-shadow(0,0,20px,$grey-color-dark);
    box-sizing: border-box;
    &:hover {
        background: $grey-color-light;
    }

    @include media-query($on-palm) {
        width: 100%;
    }
}

.search-button {
    @extend .search-box;
    cursor: pointer;

    &:hover {
        border: 1px solid $grey-color-dark;
        background: $grey-color-dark;
        color: #fff;
    }
}

.search-results-count {
    color: $grey-color-dark;
    margin: 0 0 1em 0;
}

.search-results {
    @extend .archive-list;
}