---
layout: default
---
<section>

  <header>
    <h1>{{ page.title }}</h1>
    <p>
      {{ page.date | date: "%-d %B %Y" }}{% if page.author %} &mdash; {{ page.author }}{% endif %}{% if page.meta %} &mdash; {{ page.meta }}{% endif %} &mdash; {% if page.categories %}{% for tag in page.categories %}<em>{{tag}}</em> {% endfor %}{% endif %}
    </p>
    <a href="/" class="view-all-link">All Posts</a>
  </header>

  <article>
    {{ content }}
    <div class="twitter-plug">{% include twitter-plug.html %}</div>
  </article>

  {% if page.comments %}
  <div id="disqus_thread"></div>
  {% endif %}

</section>
